.features {
    padding: 100px 0;
    background-color: $white-color;
    border-radius: 64px 64px 0px 0px;
    z-index: 10;

    @media screen and (max-width: 1169px) {
        padding: 70px 0;
    }

    @media screen and (max-width: 710px) {
        padding: 64px 0 84px 0;
        border-radius: 40px 40px 0px 0px;
    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;

        @media screen and (max-width: 1169px) {
            flex-direction: column;
        }

        &--left {
            width: 46%;

            @media screen and (max-width: 1169px) {
                width: 100%;
            }

            .main-title {
                color: $main-title-color;
                padding-bottom: 10px;
            }
        }

        &--image {
            position: relative;
            width: 607px;
            height: 457px;

            @media screen and (max-width: 710px) {
                width: 100%;
                height: auto;
                padding-left: 14px;
            }

            .btn {
                position: absolute;
                bottom: -20px;
                right: 17px;
                border-color: $Primary-Text;
                background: $Primary-Text;
                box-shadow: 0px 5.49px 21.96px 0px rgba(43, 43, 43, 0.3);
                color: $white-color;

                &.icon {
                    padding: 17px 68px 17px 25px;
                }

                .icon-circle {
                    background: $Primary;
                    border-radius: 50px;
                    width: 42px;
                    height: 42px;
                    transition: 0.3s;

                    svg {
                        width: 20px;
                        height: 20px;
                    }
                }

                @media screen and (min-width: 1169px) {
                    &:hover {
                        background: $Primary;
                        border: 1px solid $Primary;
                        color: $Primary-Text;

                        .icon-circle {
                            background: $Primary-Text;

                            svg path {
                                fill: $white-color;
                            }
                        }
                    }
                }
            }
        }
    }

    &__items {
        padding-top: 28px;

        @media screen and (max-width: 1169px) {
            padding-top: 32px;
        }

        &--item {
            .info {
                display: flex;
                align-items: center;
                gap: 10px;
                padding-bottom: 2px;
            }

            .title {
                color: #000;
                font-size: 18px;
                font-weight: 600;
                line-height: normal;
                letter-spacing: -0.4px;

                @media screen and (max-width: 710px) {
                    font-size: 18px;
                }

                @media screen and (max-width: 330px) {
                    font-size: 15px;
                }
            }

            &:not(:last-child) {
                margin-bottom: 16px;
            }
        }

        &--img {
            width: 38px;
            height: 38px;

            @media screen and (max-width: 710px) {
                top: 5px;
            }

        }
    }
}
