.join {
    padding: 100px 0;
    background-color: $white-color;
    overflow: hidden;

    @media screen and (max-width: 1169px) {
        padding: 70px 0;
    }

    @media screen and (max-width: 710px) {
        padding: 64px 0;
    }

    &__content {
        text-align: center;

        .main-title {
            color: $Primary-Text;
            padding-bottom: 10px;

            @media screen and (max-width: 710px) {
                text-wrap: balance;
            }

            strong {
                font-family: "Virus Killer", sans-serif;
                font-size: 64px;
                font-weight: 400;
                line-height: normal;
                letter-spacing: -1.28px;
                position: relative;
                z-index: 1;
                padding: 0 2px 0 8px;
                display: inline-block;

                @media screen and (max-width: 710px) {
                    font-size: 40px;
                }

                &::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: -2px;
                    width: 172px;
                    height: 69.5px;
                    background: #E0FF6A;
                    z-index: -1;
                    transform: skewX(-10deg);

                    @media screen and (max-width: 710px) {
                        width: 116px;
                        height: 42.5px;
                    }
                }
            }
        }

        .main-text {
            color: $Primary-Text;
            font-size: rem(16);
            font-weight: 400;
            line-height: 26px;
            letter-spacing: -0.32px;
            padding-bottom: 33px;
            max-width: 900px;
            width: 100%;
            margin: 0 auto;

            @media screen and (max-width: 1169px) {
                padding-bottom: 36px;
            }
        }

        .btn {
            background-color: $Primary-Text;
            border-color: $Primary-Text;
            color: $Primary;
            font-weight: 600;
            justify-content: center;
            margin: 0 auto;

            @media screen and (min-width: 1169px) {
                &:hover {
                    background: $Primary;
                    color: $default-color;
                }
            }

            &:active {
                background-color: $Primary;
                border-color: $Primary;
                color: $default-color;
            }

            @media screen and (max-width: 1169px) {
                font-size: rem(16);
                font-weight: 600;
                width: max-content;
            }

            @media screen and (max-width: 710px) {
                width: 100%;
            }
        }
    }
}