.questions {
    padding: 100px 0;
    background: #1D2329;

    @media screen and (max-width: 1169px) {
        padding: 70px 0;
    }

    @media screen and (max-width: 710px) {
        padding: 64px 0;
    }

    .main-title {
        color: $white-color;
        text-align: center;
    }

    .tabs {
        .tabs__content {
            .tabs__buttons {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 16px;
                padding: 32px 0 20px 0;

                @media screen and (max-width: 710px) {
                    margin: 32px 0;
                    padding: 0 0 10px 25px;
                    justify-content: space-evenly;
                    overflow: scroll hidden;
                    scrollbar-width: thin;
                    scrollbar-color: #eee #fff;
                }

                .tab-button {
                    color: $white-color;
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 24px;
                    letter-spacing: -0.32px;
                    padding: 16px;
                    border-radius: 16px;
                    background: rgba(255, 255, 255, 0.10);
                    transition: all 0.2s ease-in-out;
                    cursor: pointer;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                    text-wrap: nowrap;
                    width: 100%;
                    text-align: center;

                    &.active {
                        color: $Primary-Text;
                        background: $Primary;

                        @media screen and (min-width: 1169px) {
                            &:hover {
                                color: $Primary-Text;
                                background: $Primary;
                            }
                        }
                    }

                    @media screen and (min-width: 1169px) {
                        &:hover {
                            color: $Primary-Text;
                            background: $white-color;
                        }
                    }
                }
            }
        }

        .tabs__items {
            .tab {
                display: none;
            }

            .tab-item {
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;

                .main-title {
                    font-size: 2.4rem;
                    line-height: 3.75rem;
                    padding-bottom: 1.25rem;

                    @media (max-width: 1169px) {
                        font-size: 25px;
                        line-height: 37.5px;
                    }
                }

                &.active {
                    display: block;
                }
            }
        }
    }

    .accordion__items {
        .accordion__item {
            position: relative;
            transition: 0.2s;
            overflow: hidden;
            padding: 16px;
            border-radius: 16px;
            background: rgba(255, 255, 255, 0.10);

            &:not(:last-child) {
                margin-bottom: 16px;
            }

            .accordion__item-top-wrapper {
                display: flex;
                align-items: center;
                justify-content: space-between;
                cursor: pointer;

                .accordion__item--title {
                    color: $white-color;
                    font-size: 18px;
                    font-weight: 700;
                    line-height: 155.556%;
                    letter-spacing: -0.36px;

                    @media (max-width: 1169px) {}

                    @media (max-width: 710px) {
                        width: 86%;
                        hyphens: auto;
                        font-size: 16px;
                    }
                }
                
                @media screen and (min-width: 1169px) {
                    &:hover {
                        .accordion__item--title {
                            color: $Primary;
                        }
                    }
                }

                &.active {
                    padding-bottom: 0;

                    .accordion__item--title {
                        color: $Primary;
                    }
                }

                .accordion__item--arrow {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: 0.2s;

                    svg {
                        width: 100%;
                    }

                    @media (max-width: 1169px) {
                        width: 2rem;
                        height: 2rem;
                    }
                }

                &.active {
                    .accordion__item--arrow {
                        -webkit-transform: rotate(180deg);
                        -ms-transform: rotate(180deg);
                        transform: rotate(180deg);
                    }
                }
            }

            .accordion__item-more {
                padding: 0;
                transition: 0.3s;
                height: 0;
                opacity: 0;
                visibility: hidden;
                z-index: 2;

                &.active {
                    padding-top: rem(16);
                    height: auto;
                    opacity: 1;
                    visibility: visible;
                    border-radius: 0px 0px 10px 0px;
                }

                .main-text {
                    color: $white-color;
                    font-size: rem(16);
                    font-weight: 400;
                    line-height: 162.5%;
                    letter-spacing: -0.32px;

                    @media screen and (max-width: 710px) {
                        font-size: 1rem;
                        letter-spacing: -0.28px;
                    }

                    a {
                        color: $Primary;

                        @media screen and (min-width: 1169px) {
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }
    }
}