// Font
$mainFont: "Montserrat";
$fontSecondary: "Fraunces";

// Size
$mainFontColor: #1b1b1b;
$mainFontSize: 16px;
$mainFontWeight: 400;
$mainLineHeight: 22px;

$desktopWidth: 1440px;
$smDesktopWidth: 980px;
$tableWidth: 1169px;
$phoneWidth: 710px;
$smPhoneWidth: 330px;

// Main color
$default-color: #1b1b1b;
$white-color: #ffffff;
$silver-color: #c0c0c0;
$Primary: #144530;
$Primary-Text: #1d2329;
$Secondary-Text: #f4f7fe;
$green-color: #144530;
$grey-color: #150a07;
$main-title-color: #1b1b1b;
$main-text-color: #838ca8;
$required-color: #ff5a5a;
$success-color: #91b920;
$brown-color: #462b25;
